@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap");
/* @import "~react-image-gallery/styles/css/image-gallery.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --clr-accent: #ff4566;
    --clr-primary-50: #cacaca;
    --clr-primary-100: #858585;
    --clr-primary-200: #717171;
    --clr-primary-300: #595959;
    --clr-primary-400: #5b5b5b;
    --clr-primary-500: #2d2e2f;
    --clr-hygiene-excellent: #288549;
    --clr-hygiene-average: #d79b00;
    --clr-hygiene-poor: #df5023;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white font-poppins;
  }
  h1 {
    @apply text-[22px] md:text-[24px] font-medium
  }

  h2 {
    @apply text-[20px] md:text-[22px]
  }

  h3 {
    @apply text-[1rem] text-custom_primary_500
  }
}

@layer utilities {
  .nav-hover {
    @apply hover:text-custom_accent;
  }

  .is-active {
    @apply text-custom_accent;
  }

  .search-bar {
    @apply w-full inline-block py-3 px-6 focus:outline-none md:border-gray-300 font-openSans text-sm;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* ADD BLUR TO SCROLL BUTTONS */
  .blurred {
    background-color: #ccc; /* Background color of the div */
    filter: blur(5px);
  }

  /* container */
  .container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-inline: 1.5rem;
  }
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-inline: 2.5rem;
    }

    .container:where(.is-place-detail) {
      max-width: 1144px;
    }
  }

  @media (min-width: 1440px) {
    .container {
      max-width: 100%;
      padding-inline: 5rem;
    }

    .container:where(.is-place-detail) {
      max-width: 1144px;
    }
  }



  /* PLACES GRID */
  .places-grid {
    --min: 300px;
    --gap: 1.2rem;
  
    display: grid;
    grid-gap: var(--gap);
    row-gap: 1.75rem;

    /* Initially, allow as many columns as fit the minmax rule */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));

    /* Media query to limit the number of columns to 6 at wider viewports */
    @media (min-width: 2000px) {
        grid-template-columns: repeat(auto-fit, minmax(min(100%, calc(100% / 7)), 1fr));
    }
  }

  .shadow-visible {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow properties as needed */
  }

  .centered-element {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
   
  .imageBtnScroll {
    display: none;
  }
  
  .placeCard:hover .imageBtnScroll {
    display: block;
  }

  .map-container {
    width: 100%;
    height: 100%;
  }

  .place_detail_section {
    @apply w-full px-4 md:px-0
  }

  /* slider
  */
  .slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }
}
